$background-color: #1e203b;
$activeBg: #3c495f5f;
$white: #ffffff;
$border: #708090;
$promaryColor: #60a5fa;
$activeBorder: #3b82f6;
$grayText: #9ca3af;
$danger: #dc2626;
$danger: #dc26268e;
$gray: #6b7280;

$font: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

// 전체 레이아웃
body {
  margin: 0;
  font-family: font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  background-color: $background-color;
  color: $white;
}

.layout {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  border-left: 1px solid $border;
  border-right: 1px solid $border;
  min-height: 100vh;
}

.button {
  padding: 0.2rem 0.8rem;
  border-radius: 999px;
  font-size: 12px;
  line-height: 1.25rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

// home 레이아웃
.home {
  // &은 SCSS에서 배운 상속하기 위함. 위에 있는 home 부분을 앞부분에 사용한다. (home__title)
  &__title {
    padding: 16px;
    font-weight: 700;
    font-size: 20px;
  }
  &__tabs {
    width: 100%;
    // grid-template-columns는 컨테이너의 열을 정의
    // repeat는 특정 패턴을 반복하여 열을 생성
    // minmax는 열의 최소 크기와 최대 크기를 설정
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  &__tab {
    text-align: center;
    font-weight: 500;
    padding: 16px;
    cursor: pointer;

    &--active {
      font-weight: 700;
      border-bottom: 2px solid $activeBorder;
    }

    &:hover,
    &:focus {
      background-color: $activeBg;
    }
  }
}

.post-from {
  &__text {
    font-family: $font;
    min-height: 120px;
    display: block;
    // calc는 수학 계산을 수행하는 데 사용
    width: calc(100% - 32px);
    padding: 16px;
    border: none;
    // resize는 사용자가 요소의 크기를 직접 조정 여부 제어, outlin은 요소 주위에 강조하거나 포커스를 표시하는 용도
    resize: none;
    outline: none;
    font-size: 20px;
    border-bottom: 1px solid $border;
  }
  &::placeholder {
    font-family: $font;
    color: $grayText;
    font-size: 20px;
  }

  &__submit-area {
    display: flex;
    padding: 0.75rem, 1rem;
    justify-content: space-between;
    border-bottom: 1px solid $border;

    .post-form__file {
      display: flex;
      padding: 0 1rem;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;

      // .post-from__file-icon {
      //   color: $activeBorder;

      //   &:hover {
      //     color: $promaryColor;
      //   }
      // }
    }

    .hidden {
      display: none;
    }
  }

  &__submit-btn {
    // @extend는 이전에 만든 클래스를 가져온다는 뜻
    @extend .button;
    // rem은 요소의 패딩을 최상위 요소 글꼴 크기의 n배로 설정하는 뜻
    padding: 0.5rem 1rem;
    background-color: $promaryColor;
  }
}
